@using Umbraco.Web.Models
@inherits Umbraco.Web.Mvc.UmbracoViewPage
@{
}

<section class="section-package section-page-destination">
    <div class="container">
        <div class="heading">
            <h1 class="main-heading-title">@(Model.Value<string>("title").ToUpper())</h1>
            <div class="heading-description">
                @Model.Value("description")
            </div>
        </div>
        @{
            var lstDestinations = Model.DescendantsOfType("destination");
        }
        <div class="row destination-list">
            @foreach (var item in lstDestinations)
            {
                var thumb = item.Value<IPublishedContent>("image");
                <div class="col-lg-4 col-md-6 col-12">
                    <div class="destination-item">
                        <div class="img">
                            <a href="@item.Url()">
                                <img src="@(thumb != null ? thumb.GetCropUrl(340, 244, imageCropMode:ImageCropMode.Crop, furtherOptions: "&bgcolor=fff&slimmage=true") : "https://via.placeholder.com/340x244")" alt="@item.Name">
                            </a>
                        </div>
                        <div class="content">
                            <h3><a href="@item.Url()">@item.Name</a></h3>
                            <a href="@item.Url()" class="read-more">@Umbraco.GetDictionaryValue("Destination.ReadMore") <i aria-hidden="true" class="fas fa-long-arrow-alt-right"></i></a>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</section>