@inherits Umbraco.Web.Mvc.UmbracoViewPage
@{
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    @Html.Partial("Layout/_Shared")
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto%3A100%2C100italic%2C200%2C200italic%2C300%2C300italic%2C400%2C400italic%2C500%2C500italic%2C600%2C600italic%2C700%2C700italic%2C800%2C800italic%2C900%2C900italic%7CRoboto+Slab%3A100%2C100italic%2C200%2C200italic%2C300%2C300italic%2C400%2C400italic%2C500%2C500italic%2C600%2C600italic%2C700%2C700italic%2C800%2C800italic%2C900%2C900italic%7COswald%3A100%2C100italic%2C200%2C200italic%2C300%2C300italic%2C400%2C400italic%2C500%2C500italic%2C600%2C600italic%2C700%2C700italic%2C800%2C800italic%2C900%2C900italic%7CMontserrat%3A100%2C100italic%2C200%2C200italic%2C300%2C300italic%2C400%2C400italic%2C500%2C500italic%2C600%2C600italic%2C700%2C700italic%2C800%2C800italic%2C900%2C900italic&amp;display=auto&amp;ver=6.0.2" type="text/css" media="all">
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/swiper-bundle.min.css" />
    <link href="/css/jquery.fancybox.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="/css/fontawesome.min.css">
    <link rel="stylesheet" href="/css/nucleo-outline.css">
    <link rel="stylesheet" href="/css/site.css">
    <link rel="stylesheet" href="/css/responsive.css">

    <script src="/scripts/jquery.js"></script>
</head>
<body>
    <div id="wrapper">
        @Html.Partial("Layout/_Header")
        <main id="main-wrapper">
            @RenderBody()
        </main>
        @Html.Partial("Layout/_Footer")
    </div>
    <input type="hidden" id="currentculture" value="@Model.GetCultureFromDomains()" />
    <script src="/scripts/swiper-bundle.min.js"></script>
    <script src="/scripts/bootstrap.bundle.min.js"></script>
    <script src="/scripts/jquery.fancybox.min.js"></script>
    <script src="/scripts/sweetalert.min.js"></script>
    <script src="/scripts/jquery.validate.min.js" type="text/javascript"></script>
    <script src="/scripts/jquery.unobtrusive-ajax.min.js" type="text/javascript"></script>
    <script src="/scripts/jquery.validate.unobtrusive.min.js" type="text/javascript"></script>
    <script src="/scripts/main.js"></script>
</body>
</html>